<mat-grid-list cols="5" rowHeight="14%">
        <mat-grid-tile [colspan]="tiles[0].cols"[rowspan]="tiles[0].rows">
                <img src="assets/logo.png">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="tiles[1].cols"[rowspan]="tiles[1].rows"><mat-card id="modelo"><app-p5model #plano giro={{anguloDeGiro}} sol={{intensidadLuminica}} viento={{intensidadDelViento}} direccionViento={{direccionDelViento}} tiempo={{tiempo}} distancia={{distancia}} vi={{velocidadInicial}} limite={{tiempoEsCero}}></app-p5model></mat-card></mat-grid-tile>
        <mat-grid-tile class="valoresSimulados" [colspan]="tiles[2].cols"[rowspan]="tiles[2].rows"><mat-card>
                <mat-toolbar color="accent" id="toolbar">
                        <h2>{{tiles[2].text}}</h2> 
                    </mat-toolbar>
                    <label>Velocidad:</label><span class="spacer"></span><div *ngIf="this.plano.modelVariables !== undefined">{{(this.plano.modelVariables.velocity.mag()*30/8).toFixed(3)}} m/s</div><mat-divider></mat-divider>
                    <label>Aceleración:</label><span class="spacer"></span><div *ngIf="this.plano.modelVariables !== undefined">{{(this.plano.modelAcceleration.mag()*30/8).toFixed(3)}} m/s<sup>2</sup></div>
        </mat-card></mat-grid-tile>
        <mat-grid-tile class="valoresDeEntrada" [colspan]="tiles[3].cols"[rowspan]="tiles[3].rows"><mat-card>
                <mat-toolbar color="accent" id="toolbar">
                        <h2>{{tiles[3].text}}</h2>
                    </mat-toolbar>
                    <label>Intensidad del sol:</label> <span class="spacer"></span><div>{{intensidadLuminica}} lux</div><mat-divider></mat-divider>
                    <label>Intensidad del viento:</label> <span class="spacer"></span> <div>{{intensidadDelViento}} km/h</div><mat-divider></mat-divider>
                    <label>Dirección del viento:</label> <span class="spacer"></span><div>{{direccionDelViento}} º</div><mat-divider></mat-divider>
                    <label>Ángulo de giro:</label> <span class="spacer"></span><div>{{anguloDeGiro}} rad</div><mat-divider></mat-divider>
                    <label>Velocidad inicial:</label> <span class="spacer"></span><div>{{velocidadInicial}} m/s</div>
        </mat-card></mat-grid-tile>
        <mat-grid-tile class="factorLimitante" [colspan]="tiles[4].cols"[rowspan]="tiles[4].rows"><mat-card>
                <mat-toolbar color="accent" id="toolbar">
                        <h2>{{tiles[4].text}}</h2>
                        <h2 *ngIf="this.tiempoEsCero == 0" style="margin: 2em"> Tiempo = {{tiempo}}s</h2>
                        <h2 *ngIf="this.tiempoEsCero == 1" style="margin: 2em"> Distancia = {{distancia}}m</h2>    
                    </mat-toolbar>
                    <label>Tiempo Empleado:</label> <span class="spacer"></span><div>{{this.plano.secondsElapsed}} s</div><mat-divider></mat-divider>
                    <label style="color: #FBC02D">Distancia recorrida:</label> <span class="spacer"></span><div>{{this.plano.modelTravel.toFixed(1)}} m</div><mat-divider></mat-divider>
                    <label style="color: #0D47A1">Distancia en linea recta: </label> <span class="spacer"></span><div>{{this.plano.modelDistance.toFixed(1)}} m</div>
        </mat-card></mat-grid-tile>
        <mat-grid-tile class="botones" [colspan]="tiles[5].cols"[rowspan]="tiles[5].rows">
            <div class="botones" *ngIf="this.plano.simulationPaused !== undefined!">
        <button mat-raised-button *ngIf="this.plano.simulationPaused()" (click)="this.plano.playPauseSimulation();"><mat-icon>play_arrow</mat-icon>Reanudar
        </button>
        <button mat-raised-button *ngIf="!this.plano.simulationPaused()" (click)="this.plano.playPauseSimulation();"><mat-icon>pause</mat-icon>Pausar
        </button>
        <button mat-raised-button (click)="this.plano.resetSimulation();this.plano.modelTravel = 0;">
            <mat-icon>replay</mat-icon>
            Reiniciar
        </button><button mat-raised-button (click)="this.plano.removeSimulation()" routerLink="/main">
            <mat-icon>keyboard_backspace</mat-icon>
            Volver
        </button>
    </div></mat-grid-tile>
</mat-grid-list>
