<mat-grid-list cols="5" rowHeight="14%">
        <!--mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows">
            <mat-card>{{tile.text}}</mat-card>
        </mat-grid-tile-->
        <mat-grid-tile [colspan]="tiles[0].cols"[rowspan]="tiles[0].rows"><mat-card>
            <h1>Rendimiento</h1>
        </mat-card></mat-grid-tile>
        <mat-grid-tile [colspan]="tiles[1].cols"[rowspan]="tiles[1].rows"><mat-card id="modelo"><app-p5model></app-p5model></mat-card></mat-grid-tile>
        <mat-grid-tile [colspan]="tiles[2].cols"[rowspan]="tiles[2].rows"><mat-card>
            <h1>Valores para el rendimiento optimo</h1>
        </mat-card></mat-grid-tile>
        <mat-grid-tile [colspan]="tiles[3].cols"[rowspan]="tiles[3].rows"><mat-card>
            <h1>Variables</h1>
        </mat-card></mat-grid-tile>
        <mat-grid-tile [colspan]="tiles[4].cols"[rowspan]="tiles[4].rows"><mat-card>
            <h1>Valores actuales</h1>
        </mat-card></mat-grid-tile>
</mat-grid-list>
