<div class="container">
    <mat-card>
        <mat-toolbar color="accent" id="toolbar">
            <h2>Estadísticas</h2>
            <span class="spacer"></span>

            <button mat-raised-button routerLink="/main">
                <mat-icon>keyboard_backspace</mat-icon>
                Volver
            </button>
        </mat-toolbar>
        <div id="coordenadas">
            <mat-form-field>
                <div id="x">
                    <mat-label>Coordenada X</mat-label>
                    <mat-select [(value)]="cx">
                        <mat-option *ngFor="let variable of variablesx" [value]="variable.name">
                            {{variable.displayName}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div id="x">
                    <mat-label>Coordenada Y</mat-label>
                    <mat-select [(value)]="cy">
                        <mat-option *ngFor="let variable of variablesy" [value]="variable.name">
                            {{variable.displayName}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button class="example-add-tab-button" (click)="actualizarGrafica(cx, cy)">
                Representar gráfica
            </button>
        </div>
    </mat-card>
    <div id="contenido">
            <mat-card id="controles"> 
                    <div id="controlesdiv">
                            <div >
                                    <label>Luz Solar</label>
                                    <br>
                                    <mat-divider></mat-divider>
                                    <br>
                                    <mat-slider thumbLabel [displayWith]="formatLabel" [disabled]="selected ==21 ||selected ==33 ||selected ==35 ||selected ==55 || selected== 77" [vertical]="true" tickInterval="1" min="0" max="55000"
                                    (input)="cambiarValorLuz($event)"></mat-slider>
                                      <br><br>
                                    <div> {{luz}} lux</div>
                                  </div>
                                  <div>
                                    <label>Viento</label>
                                    <br>
                                    <mat-divider></mat-divider>
                                    <br>
                                    <mat-slider thumbLabel [displayWith]="formatLabel" [disabled]="selected ==51 ||selected ==85 ||selected ==77" [vertical]="true" tickInterval="1" min="0" max="16"
                                    (input)="cambiarValorViento($event)"></mat-slider>
                                      <br><br>
                                    <div> {{viento}} km/h</div>
                                  </div>
                           
                        </div>
                </mat-card>
    <mat-card id="tabs">
        
                <div style="height: 60vh">
                <app-grafica #graph chart="selected"></app-grafica>
               
            </div>
    </mat-card>
</div>
</div>