<div class="container">
    <mat-card>
        <mat-toolbar color="accent" id="toolbar">
            <h2>Estadisticas</h2>
            <span class="spacer"></span>

            <button mat-raised-button routerLink="/main">
                <mat-icon>keyboard_backspace</mat-icon>
                Volver
            </button>
        </mat-toolbar>
        <div id="coordenadas">
            <mat-form-field>
                <div id="x">
                    <mat-label>Coordenada X</mat-label>
                    <mat-select [(value)]="cx">
                        <mat-option *ngFor="let variable of variables" [value]="variable">
                            {{variable}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
            <mat-form-field>
                <div id="x">
                    <mat-label>Coordenada Y</mat-label>
                    <mat-select [(value)]="cy">
                        <mat-option *ngFor="let variable of variables" [value]="variable">
                            {{variable}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button class="example-add-tab-button" (click)="addTab(cx, cy)">
                Añadir grafica
            </button>
        </div>
    </mat-card>
    <mat-card>
        <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
            <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
                Contenido pestaña {{tab}}
                <button mat-raised-button class="example-delete-tab-button" [disabled]="tabs.length === 1"
                    (click)="removeTab(index)">
                    Eliminar pestaña
                </button>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>