mat-form-field{
    width: 45%;
    margin: 0em 1em;
}
mat-card{
    margin: 1em;
}
#coordenadas{
    /*border: 3px solid green;*/
    align-items: center;
    text-align: center;

}
#x{
    display: inline;
   float: left;
    width: 100%;

    
}
