.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    }

mat-form-field{
    width: 45%;
    margin: 0em 1em;
}
mat-card{
    margin: 1em;
    padding: 0;
    padding-bottom: 1em;
}

#coordenadas{
    /*border: 3px solid green;*/
    align-items: center;
    text-align: center;
}
#x{
    display: inline;
   float: left;
    width: 100%;
}

#toobar{
    color: #C5CAE9;  
}

mat-toolbar{
    border-radius: 0.2em;
}

.spacer{
    flex: 1 1 auto;
}

#tabs {
    padding: 1em;
    background-color: #FFE082;
}
