  
.container {
display: flex;
flex-direction: column;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
max-width: 50em;
margin: auto;
align-items: center;
text-align: center;
/*border: 3px solid green;*/

}
.mat-typography {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
mat-card {
    text-align: left;
    background-color: #E0F7FA;
}

mat-card div {
    display: inline;
}

.tiempoydistancia label{
    width: 10em;
}
mat-expansion-panel{
    background-color: #B2EBF2;
}

mat-slider {
    width: 300px;

}

label {
    display: inline-block;
    width: 35%;
    text-align: right;
}​

.mat-button {
    font-family: "Poppins", Arial, sans-serif;
    font-size: large;
}

img {
height: 15em;
vertical-align: middle;
}

h2 {
    color: lightgrey;
}
button{
    width: 100%
}