<div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon color="accent">menu_alt</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>event_note</mat-icon>
          <span>Estadisticas</span>
        </button>
        <button mat-menu-item>
          <mat-icon>ondemand_video</mat-icon>
          <span>Simulación libre</span>
        </button>
      </mat-menu>
</div>
<div class="container" [class.is-mobile]="mobileQuery.matches">
  <div class="mat-typography">
    <img src="assets/logo.png">
    <h2>Gemelo digital de embarcaciones</h2>
    <mat-card>
      <div>
        <label>Intensidad del sol:</label>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"
          (input)="cambiarValorLuz($event)"></mat-slider>
        <div> {{intensidadLuminica}} lux/s</div>
      </div>
      <div>
        <label>Intensidad del viento: </label>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"
          (input)="cambiarValorViento($event)"></mat-slider>
        <div> {{intensidadDelViento}} m/s</div>
      </div>
      <div><label>Direccion del viento: </label>

        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"
          (input)="cambiarValorDirViento($event)"></mat-slider>
        <div> {{direccionDelViento}} rad</div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <label>Angulo de giro: </label>

        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="-45" max="45" value="0"
          (input)="cambiarValorGiro($event)"></mat-slider>
        <div> {{giro}} rad</div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <mat-expansion-panel hideToggle disabled [expanded]="!panel.disabled" #panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-slide-toggle class="example-margin" (change)="panel.disabled = panel.disabled? false: true; ">Limitar
                variable</mat-slide-toggle>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="limitacion">
            <mat-radio-button value="0">
              <div class="tiempoydistancia">
                <label>Tiempo: </label>
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"
                  (input)="cambiarValorTiempo($event)" [disabled]="limitacion == 1 ? true: false"></mat-slider>
                <div> {{tiempo}} s</div>
              </div>
            </mat-radio-button>
            <mat-radio-button value="1">
              <div class="tiempoydistancia"><label>Distancia: </label>
                <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="100"
                  (input)="cambiarValorDistancia($event)" [disabled]="limitacion == 1 ? false: true"></mat-slider>
                <div> {{distancia}} m</div>
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
        <br>
        <button mat-raised-button color="accent">Ver Simulacion</button>
      </div>
    </mat-card>
  </div>
</div>